#!/bin/bash

{{ ansible_managed | comment }}

set -o errexit
set -o nounset
set -o pipefail

if [[ "${TRACE-0}" == "1" ]]; then
    set -o xtrace
fi

key_state='nc'

diff {{ minio_ssl_custom_privkey_path }} {{ minio_ssl_privkey_file }} || key_state='c'
if [[ ${key_state} == 'c' ]]
then
    cp {{ minio_ssl_custom_privkey_path }} {{ minio_ssl_privkey_file }}
    chown {{ minio_system_user }}:{{ minio_system_group }} {{ minio_ssl_privkey_file }}
    chmod 640 {{ minio_ssl_privkey_file }}

    cp {{ minio_ssl_custom_cert_path }} {{ minio_ssl_cert_file }}
    chown {{ minio_system_user }}:{{ minio_system_group }} {{ minio_ssl_cert_file }}
    chmod 640 {{ minio_ssl_cert_file }}

    systemctl restart {{ minio_systemd_filename }}
fi
