{{ ansible_managed | comment }}

MINIO_ROOT_USER="{{ minio_root_user | mandatory }}"

MINIO_ROOT_PASSWORD="{{ minio_root_password | mandatory }}"

MINIO_CONFIG_ENV_FILE={{ minio_env_vars_file }}

{% if minio_domain | length %}
MINIO_DOMAIN={{ minio_domain }}
{% endif %}

{% if minio_scanner_speed | length and minio_scanner_speed | regex_search('(fastest|fast|default|slow|slowest)')%}
MINIO_SCANNER_SPEED={{ minio_scanner_speed }}
{% endif %}

{% if minio_address | length %}
MINIO_ADDRESS="{{ minio_address }}"
{% endif %}

{% if minio_console_address | length %}
MINIO_CONSOLE_ADDRESS="{{ minio_console_address }}"
{% endif %}

{% if minio_prometheus_url | length %}
MINIO_PROMETHEUS_URL="{{ minio_prometheus_url }}"
{% endif %}

{% if minio_prometheus_job_id | length %}
MINIO_PROMETHEUS_JOB_ID="{{ minio_prometheus_job_id }}"
{% endif %}

{% if minio_log_query_url | length %}
MINIO_LOG_QUERY_URL="{{ minio_log_query_url }}"
{% endif %}

{% if not minio_browser_enabled | bool %}
MINIO_BROWSER="off"
{% endif %}

{% if not minio_browser_login_animation_enabled | bool %}
MINIO_BROWSER_LOGIN_ANIMATION="off"
{% endif %}

{% if not minio_browser_redirect_enabled | bool %}
MINIO_BROWSER_REDIRECT=false
{% endif %}

{% if minio_browser_redirect_url | length %}
MINIO_BROWSER_REDIRECT_URL="{{ minio_browser_redirect_url }}"
{% endif %}

{% if minio_browser_session_duration | length and minio_browser_session_duration | regex_search('\d{1,}(s|m|h|d)')%}
MINIO_BROWSER_SESSION_DURATION="{{ minio_browser_session_duration }}"
{% endif %}

{% if minio_server_url | length %}
MINIO_SERVER_URL="{{ minio_server_url }}"
{% endif %}

{% if minio_prometheus_auth_type_public | bool %}
MINIO_PROMETHEUS_AUTH_TYPE='public'
{% endif %}

{% if minio_extra_env_vars | length %}
{% for env in minio_extra_env_vars %}
{{ env }}
{% endfor %}
{% endif %}
