[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ minio_bin_file }}

[Service]
Restart=always
RestartSec=5
TimeoutSec=5

User={{ minio_system_user }}
Group={{ minio_system_group }}

EnvironmentFile={{ minio_env_vars_file }}

ExecStartPre=/bin/bash -c "if [[ -z ${MINIO_ROOT_USER} ]]; then echo \"Variable MINIO_ROOT_USER not set in /etc/default/minio\"; exit 1; fi"

ExecStart={{ minio_bin_file }} server \
{% if minio_ssl_custom_cert_path | length and minio_ssl_custom_privkey_path | length %}
--certs-dir {{ minio_ssl_certs_path }} \
{% endif %}
{% if minio_quiet_mode_enabled | bool %}
--quiet \
{% endif %}
{% if minio_anonymous_mode_enabled | bool %}
--anonymous \
{% endif %}
{% if minio_json_log_format_enabled | bool %}
--json \
{% endif %}
{{ minio_storage_dirs | join(' ') }} 

ReadWritePaths={{ minio_storage_dirs | join(' ') }}

UMask=077
RemoveIPC=true

MemoryDenyWriteExecute=true
LockPersonality=true

SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallArchitectures=native

RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK

ProtectProc=invisible
ProtectSystem=strict
ProtectHome=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectHostname=true

PrivateDevices=true
PrivateTmp=true
PrivateUsers=true

DevicePolicy=closed

CapabilityBoundingSet=CAP_NET_BIND_SERVICE

AmbientCapabilities=CAP_NET_BIND_SERVICE

NoNewPrivileges=true
LimitNOFILE=1048576
TasksMax=infinity
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
